 # Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
env/

# Environment variables
myEnv.env
.env

# Google credentials
*.json

# Model files (too large for git)
*.h5
*.keras

# Data folders (too large for git)
data/

# VS Code
.vscode/

# Conda
*.conda